.nav{
    margin-left:260px;
    font-size: 49px;
    height: 25vh;
}
.container {
    display: flex;
    gap: 10px;
    margin-left: 270px;
}
.box{
    height: 30vw;
    width: 320px;
    background-color: yellow;
}
.b1 {
    background-image: url("https://images-assets.nasa.gov/image/iss063e053998/iss063e053998~large.jpg?w=1920&h=1280&fit=crop&crop=faces%2Cfocalpoint");
}


